<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Album of the Month</title>
<!-- Bootstrap -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/cyborg_bootstrap.css" rel="stylesheet">
<script src="js/bootstrap.min.js"></script>
<link href="./css/bootstrap-responsive.css" rel="stylesheet">
<!-- End: Bootstrap -->
<script type="text/javascript" charset="utf-8" src="cordova-2.0.0.js"></script>
<script data-main="js/main.js" src="js/libs/require/require-jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="./js/libs/underscore/underscore-min.js"></script>
<script type="text/javascript" charset="utf-8" src="./js/libs/backbone/backbone-min.js"></script>
<script type="text/javascript" charset="utf-8" src="./js/libs/backbone/backbone-localstorage.js"></script>
</head>
<body>
<style>
	div#menu {
		width: 30%;
		background-color: yellow;
		position:absolute;
		bottom: 0;
		left: 35%;
		display:none;
	}
	</style>
<script>	
	var menuOpen = false;
	var menuDiv = "";

	function init() {
		document.addEventListener("deviceready", startup, false);
	}

	function doMenu() {
		console.log("The menu was clicked...");
		if(menuOpen) {
			console.log("close the menu");
			menuDiv.style.display="none";
			menuOpen = false;
		} else {
			console.log("open the menu");
			menuDiv.style.display="block";
			menuOpen = true;
		}

	}
	</script>
  <div id="menu">
	<a href="">Option One</a><br/>
	<a href="">Option Two</a>
</div>
<div class="container-fluid">
  <div class="offset1 span8">
    <h1>Album of the Month</h1>
  </div>
  <div id="mainAlbums">&nbsp;</div>
</div>
<script type="text/template" id="albums_template">
  <div id="albums_list">
    <%= albums_list_items %>
  </div>
</script>
<script type="text/template" id="album_template">
  <div class="row-fluid">
    <div class="offset1 span10" id="album_<%- id %>">
      <strong><%- band %> &dash; <%- title %></strong> (<em><%- category.name %></em>)<br />
      <%- release_date %><br />
      <em><%- mini_review %></em><br />
      <!--category_id: <%- category_id %><br /> -->
      <!-- cover_location: <%- cover_location %><br /> -->
      <div class="thumbnail span8"><img src="<%- cover_location %>" /></div><br />
      <!-- created_at: <%- created_at %><br /> -->
      <%- full_review %><br />
      <!-- id: <%- id %> <br />	-->
      <!-- updated_at: <%- updated_at %><br /> -->
      <!-- user: <%- user %><br /> -->
      <!-- user_id: <%- user_id %><br /> -->
    </div>
    <hr/>
  </div>
</script>
</body>
</html>
