<!DOCTYPE HTML>
<html>
<head>
<title>Cordova</title>
<script type="text/javascript" charset="utf-8" src="cordova-1.8.1.js"></script>
<script data-main="js/main.js" src="js/libs/require/require-jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="./js/libs/underscore/underscore-min.js"></script>
<script type="text/javascript" charset="utf-8" src="./js/libs/backbone/backbone-min.js"></script>
<script type="text/javascript" charset="utf-8" src="./js/libs/backbone/backbone-localstorage.js"></script>
</head>
<body>
<h1>Hello World</h1>
<div id="mainAlbums">&nbsp;
</div>
<script type="text/template" id="albums_template">
  <ul id="gaggle-list">
  <% _.each(gaggle, function(goose) { %>
     <li><%- goose.name %></li>
  <% }); %>
  </ul>
</script>
<script type="text/template" id="album_template">
  <li id="album_">
    band: <%- band %>
  </li>
</script>
</body>
</html>
